<!DOCTYPE html>
<html lang="en">
    <%- include('../../common/header', { title: 'Error' }) %>
    <body>
        <h1><%= code %> <%= name %></h1>
        <%- include('../../common/nav') %>
        <p>If you think this is an error, please contact this site's maintainers.</p>
    </body>
    <%- include('../../common/scripts') %>
</html>
